    <li class="collection-item avatar company">
      <span class="title">公司名稱</span>
      <p>公司地址<br>
        電話
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">web</i></a>
    </li>