<div class="col s12 m8 push-m2 main-list">
  <div class="col s6">
    <h6 class="grey-text text-darken-3" style="font-size:20px;">公司</h6>
  </div>
  <div class="col s6">
    <p class="right grey-text" style="margin:0;">更多..</p>
  </div>
</div>
<div class="col s12 m8 push-m2 white ">
  <ul class="collection">
    <li class="collection-item avatar company">
      <span class="title">公司名稱</span>
      <p>公司地址<br>
        電話
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">web</i></a>
    </li>
    <li class="collection-item avatar company">
      <span class="title">公司名稱</span>
      <p>公司地址<br>
        電話
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">web</i></a>
    </li>
  </ul>
</div>