<%=link_to job_path(job.id), data: { no_turbolink: true } do %>
<li class="collection-item avatar">
  <i class="circle green"><%=job.score.total%></i>
  <span class="title"><%=job.name%></span>
  <p>
    <%=job.record.paid_str%>
  </p>
</li>
<%end%>