<%=render partial: 'shared/nav_bar'%>
<div class="container">
  <div class="row">
    <div class="col s12 m8 push-m2 main-list">
      <h5>關鍵字：</h5>
    </div>
    <%=render partial: 'jobs'%>
    <%=render partial: 'companies'%>
  </div>
</div>