<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper container">
      <a href="index" class="brand-logo"><img src="images/logo-b.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><%=link_to '公司列表', jobs_path, class: "grey-text text-darken-3"%></a></li>
        <li><%=link_to '職缺列表', jobs_path, class: "grey-text text-darken-3"%></li>
      </ul>
    </div>
  </nav>
</div>