// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collection-item.avatar.company{
	padding-left: 15px;
}

h5.company-data{
  font-size: 20px;
}

h6.company-data{
  font-size: 20px;
}

.related .card,.company-data .btn,.btn:hover{
  box-shadow: none;
}

.company-data .btn:hover{
  border:1px;
}

hr{
  border: 0;
  height: 1px;
  background-color: #d4d4d4;
}